$fade-durations: 300;

@each $duration in $fade-durations {
  .fade-#{$duration} {
    &-enter-active,
    &-leave-active {
      transition-duration: #{$duration}ms;
      transition-property: opacity;
      transition-timing-function: ease;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
    }

    &-leave-from,
    &-enter-to {
      opacity: 1;
    }
  }
}

$slide-top-durations: 200;

@each $duration in $slide-top-durations {
  .slide-top-#{$duration} {
    &-enter-active,
    &-leave-active {
      transition-duration: #{$duration}ms;
      transition-timing-function: ease-in-out;
    }

    &-leave-to,
    &-enter-from {
      transform: translate(0, 100%);
    }
  }
}
